<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
    <dict>
        <key>com.outsystems.experts.todaysample.extension</key>
        <string>da9e5a1c-8073-4c0a-8f84-fcd0c2bec726</string>
	</dict>
</dict>
</plist>
