<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.experts.todaywidgetplugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>outsystems-ios-today-widget-plugin</name>
    <js-module name="outsystems-ios-today-widget-plugin" src="www/outsystems-ios-today-widget-plugin.js">
        <clobbers target="cordova.plugins.outsystems-ios-today-widget-plugin" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*"></config-file>

        <config-file parent="com.apple.security.application-groups" target="*-Debug.plist">
        <array>
            <string>group.__APP_IDENTIFIER__</string>
        </array>
        </config-file>
        <config-file parent="com.apple.security.application-groups" target="*-Release.plist">
        <array>
            <string>group.__APP_IDENTIFIER__</string>
        </array>
        </config-file>

        <hook type="after_plugin_install" src="hooks/prerequisites.js"/>
        <hook type="after_plugin_install" src="hooks/copyExtensionFolderToIosProjectFolder.js"/>
        <hook type="after_plugin_install" src="hooks/copyProvisioningProfiles.js"/>
        <hook type="after_plugin_install" src="hooks/addTodayWidgetToProject.js"/>
        <hook type="after_prepare" src="hooks/configureTodayPlist.js"/>
        <hook type="after_prepare" src="hooks/fixAppEntitlements.js"/>

        <config-file target="exportOptions.plist" parent="provisioningProfiles">
            <array>
                <dict>
                    <key>com.outsystems.experts.todaysample.extension</key>
                    <string>da9e5a1c-8073-4c0a-8f84-fcd0c2bec726</string>
                </dict>
            <array>
        </config-file>
    </platform>
</plugin>
